<script>
	import Filter from 'lucide-svelte/icons/filter';
	import * as DropdownMenu from '$lib/components/ui/dropdown-menu/index.js';
	import { Button } from '$lib/components/ui/button/index.js';

	export let filterValue = 'all';
</script>

<DropdownMenu.Root>
	<DropdownMenu.Trigger asChild let:builder>
		<Button variant="outline" size="icon" builders={[builder]}>
			<Filter class="h-[1.2rem] w-[1.2rem]"></Filter>
		</Button>
	</DropdownMenu.Trigger>
	<DropdownMenu.Content class="w-56">
		<DropdownMenu.Label>Filter</DropdownMenu.Label>
		<DropdownMenu.Separator />
		<DropdownMenu.RadioGroup bind:value={filterValue}>
			<DropdownMenu.RadioItem value="all">All</DropdownMenu.RadioItem>
			<DropdownMenu.RadioItem value="incomplete">Incomplete</DropdownMenu.RadioItem>
			<DropdownMenu.RadioItem value="complete">Complete</DropdownMenu.RadioItem>
		</DropdownMenu.RadioGroup>
	</DropdownMenu.Content>
</DropdownMenu.Root>
