<script>
	import Cog from 'lucide-svelte/icons/cog';
	import * as Dialog from '$lib/components/ui/dialog';
	import { Button, buttonVariants } from '$lib/components/ui/button/index.js';
</script>

<Dialog.Root>
	<Dialog.Trigger class={buttonVariants({ variant: 'outline', size: 'icon' })}>
		<Cog class="h-[1.2rem] w-[1.2rem]"></Cog>
	</Dialog.Trigger>
	<Dialog.Content>
		<Dialog.Header>
			<Dialog.Title>Settings</Dialog.Title>
			<Dialog.Description>This menu is a work-in-progress.</Dialog.Description>
		</Dialog.Header>
	</Dialog.Content>
</Dialog.Root>
