<script>
	import { Input } from '$lib/components/ui/input/index.js';
	import { Button } from '$lib/components/ui/button/index.js';
	import { Checkbox } from '$lib/components/ui/checkbox/index.js';
	import { createEventDispatcher } from 'svelte';
	import Trash from 'lucide-svelte/icons/trash';
	export let todos;
	export let todoFilter;

	const dispatch = createEventDispatcher();
	$: filteredTodos = filterTodos(todoFilter, todos);

	function filterTodos(filter, todos) {
		if (filter === 'incomplete') {
			return todos.filter((t) => !t.complete);
		} else if (filter === 'complete') {
			return todos.filter((t) => t.complete);
		} else {
			return todos;
		}
	}
</script>

{#each filteredTodos as todo (todo.id)}
	<div class="flex max-w-lg items-center gap-2">
		<div class="flex w-full items-center gap-2 rounded-md border bg-background p-2">
			<Checkbox bind:checked={todo.complete} />
			<p class:line-through={todo.complete}>{todo.name}</p>
		</div>
		<Button
			variant="outline"
			size="icon"
			on:click={() => dispatch('remove', todo.id)}
			class="flex-shrink-0"
		>
			<Trash class="h-[1.2rem] w-[1.2rem] flex-shrink-0"></Trash>
		</Button>
	</div>
{/each}
