<script>
	import { page } from '$app/stores';
	import '../app.pcss';
	import { ModeWatcher } from 'mode-watcher';
	import Sun from 'lucide-svelte/icons/sun';
	import Moon from 'lucide-svelte/icons/moon';
	import Cog from 'lucide-svelte/icons/cog';
	import ListChecks from 'lucide-svelte/icons/list-checks';

	import { toggleMode } from 'mode-watcher';
	import { Button } from '$lib/components/ui/button/index.js';
	import Settings from '$lib/settings.svelte';

	$: homePage = $page.url.pathname === '/';
</script>

<svelte:head>
	<title>Todo List</title>
</svelte:head>

<div class="flex min-h-screen w-full flex-col bg-muted/40">
	<aside
		class="fixed inset-y-0 left-0 z-10 hidden w-14 flex-col items-center justify-between border-r bg-background p-2 sm:flex"
	>
		<div class="flex flex-col gap-2">
			<a href="/" class="block">
				<Button size="icon" variant={homePage ? 'default' : 'secondary'}>
					<ListChecks class="h-[1.2rem] w-[1.2rem]"></ListChecks>
				</Button>
			</a>
		</div>
		<div class="flex flex-col gap-2">
			<Settings></Settings>
			<Button on:click={toggleMode} size="icon" variant="outline">
				<Sun
					class="h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:-rotate-90 dark:scale-0"
				/>
				<Moon
					class="absolute h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100"
				/>
				<span class="sr-only">Toggle theme</span>
			</Button>
		</div>
	</aside>
	<ModeWatcher />
	<main class="flex flex-col sm:m-4 sm:gap-2 sm:pl-14">
		<slot />
	</main>
</div>
