<script>
	import Plus from 'lucide-svelte/icons/plus';
	import Trash from 'lucide-svelte/icons/trash';
	import { Progress } from '$lib/components/ui/progress/index.js';
	import { Input } from '$lib/components/ui/input/index.js';
	import { Button } from '$lib/components/ui/button/index.js';
	import { Checkbox } from '$lib/components/ui/checkbox/index.js';
	import { todos } from '../stores.js';
	import TaskFilter from '$lib/filter.svelte';
	import Todos from '$lib/todos.svelte';

	function addTask() {
		if (inputText.length >= 1) {
			const newID = $todos.length >= 1 ? Math.max(...$todos.map((t) => t.id)) + 1 : 1;
			todos.update((currentTodos) => [
				...currentTodos,
				{ id: newID, name: inputText, complete: false }
			]);
			inputText = '';
		}
	}

	function removeTask(id) {
		console.log('Removing task with id:', id);
		todos.update((currentTodos) => currentTodos.filter((task) => task.id !== id));
	}
	let taskFilter;
	let inputText = '';
	$: taskAmount = $todos.length;
	$: completeTaskAmount = $todos.filter((task) => task.complete).length;
	$: taskProgress = taskAmount != 0 ? (completeTaskAmount / taskAmount) * 100 : 100;
</script>

<div class="flex items-center justify-between gap-2">
	<Progress value={taskProgress} max={100}></Progress>
	<div class="flex w-[4em] justify-center">
		<p class="text-lg">{Math.round(taskProgress)}%</p>
	</div>
</div>
<div class="flex max-w-lg flex-col gap-2">
	<div class="items-left flex gap-2">
		<TaskFilter bind:filterValue={taskFilter}></TaskFilter>
	</div>
	<div class="flex items-center justify-center gap-2">
		<Input placeholder="Add a task" bind:value={inputText} />
		<Button variant="outline" size="icon" on:click={addTask} class="flex-shrink-0">
			<Plus class="h-[1.2rem] w-[1.2rem] flex-shrink-0"></Plus>
		</Button>
	</div>
</div>
<Todos bind:todos={$todos} todoFilter={taskFilter} on:remove={(e) => removeTask(e.detail)}></Todos>
